/* Your app custom styles here */
.size-22 { font-size: 22px; text-transform: none; }
.size-23 { font-size: 23px; text-transform: none; }
.size-25 { font-size: 25px; text-transform: none; }
.size-29 { font-size: 29px; text-transform: none; }
.size-50 { font-size: 50px; text-transform: none; }

@media only screen and (min-device-width : 1030px)   
/* and (max-device-width : 1024px)  */
{ /* STYLES GO HERE */
    #app{
        width: 70%;
        margin: auto;
        /*border-left: 5px ridge;
        border-right: 5px ridge;*/
    }

    body{
        background-color:#dee2e6;
    }
}  

.page-content{
    background-color: white; /*#4d6b84; #d0e1ef;  #dedada; #dee2e6*/
    overflow-x: hidden;
}

.page-content.scrollable{
    overflow: auto !important;
}

.quicklinks .item-inner:before{
    color:white !important;
}

.navbar-inner .logoname{
    color: #673ab7 !important;
    font-weight: 600;
    font-size: 1.3em;
}

.navbar-inner .link{
    color: black !important;
}

.navbar i{
    color:black;
}

.navbar .link{
    font-size: 0.9em;
}

/*.logoName{
    font-size: 1.3em;
    font-weight: 500;
}*/

.text-editor{
    border: var(--f7-text-editor-border-width) solid var(--f7-text-editor-border-color) !important;
}

.text-editor-toolbar{
    border-bottom: 0.5px solid darkgray;
}

button.text-editor-button.active{
    background: lightgray;
}
/*.panel .page-content{
    background-color: black;
}*/

.popup .item-title, .signParent .item-title{
    font-weight: 500;
    /*letter-spacing: 0.4px;*/
    color: gray;
}

.navbar-inner.sliding{
    background-color: white;
}

.roundHolder{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    /*background-color: white;*/
}

.item-inner .button{
    width:100%;
}

.roundBox{
    background: white;
    padding: 3px 20px;
    color: black;
    border-radius: 10px;
}

.parentWrap{
    height: 90%;
    display: flex;
    width: 100%;
    align-items: center;
}

.parentWrap .item-title{
    font-weight: 600;
    color: inherit;
}

.parentWrap .myCard:hover{
    background:#673ab7;
}
    
.parentWrap .myCard:hover .item-title{
    color:white;
}

.parentWrap .myCard{
    /*box-shadow: 0px 1px 0px 2px darkgrey;*/
    box-shadow: 0 1px 5px 1px darkgrey;
    /*background: ghostwhite;*/
}

/*.myCard:hover, .myCard:hover .card-footerMine, .myCard:hover .labelName{
    background: #673ab7;
    color: white !important;
}*/

.fab a{
    background: #673ab7;
}

.sortTextPar{
    white-space: nowrap;
}

.sortText{
    font-weight: 600;
    margin-right: 3px;
}

.myPurple{
    color: #673ab7;
}

.page-content .button-outline{
    border:1px solid;
}

.installApp div, .installApp i{
    color: var(--f7-theme-color);
}

.mainButton{
    border: 1px solid #673ab7 !important;
    background: #673ab7;
    color: white;
    text-transform: none;
    font-size: 1.1em;
}

.myCard{
    /*box-shadow: 0px 0px 1px 1px darkgrey;*/
    box-shadow: 0 1px 4px 1px darkgrey;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0.8em;
}
.myCard .card-footerMine{
    /*background-color: #0c031d;
    border-top: 0.5px solid darkgray;*/
    background: ghostwhite;
    border-radius: 5px;
    padding: 5px 0;
    overflow-x: auto;
}

.card-footerMine .button{
    background: white;
}

.myCard .card-content{
    /*8background-color: #0c031d;*/
    padding-top:5px;
    padding-bottom:5px;
}

.myCard .button, #savecompanyinfo1{
    font-weight: 500;
    /*font-size: 1em;*/
    margin-right: 5px;
    text-transform: none;
    letter-spacing: 0px;
    border: 0.1px solid;
    color: gray;
    /*box-shadow: 0px 0px 2px 0px;*/
}

#showPwdSignUp, #showPwdSignIn{
    cursor: pointer;
}

#password, #passwordSign{
    margin:0 !important;
    padding: 0 !important;
}

.deleteProduct, .deleteButton, .deleteSale, .deleteExpense, .removeCost, .removeProduct, .removeRow{
    color:red !important;
}

.permDelButton{
    background: red !important;
    color: white !important;
    border-color: red !important;
}

.myCard .badge{
    margin-bottom: 4px;
}

.bigLabel{
    font-size: 1.3em;
    text-align: center;
}

.sellMultiple{
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0px;
    text-transform: none;
    color: #673ab7;
    border: 1px solid;
    /*box-shadow: 0px 1px 3px 1px #673ab794;*/
}

.btn-blue, .customcharges{
    font-weight: 500 !important;
    font-size: 1.2em !important;
    letter-spacing: 0px;
    text-transform: none;
}

.reportAllButtons{
    flex-wrap: wrap;
    justify-content: center;
}

.reportAllButtons a{
    margin-right: 5px;
    font-size: 0.8em;
    margin-top: 5px;
}

/*#myChart{
    width:80%;
    height: 500px;
}*/

#allTables{
    width: 96%;
    overflow: auto;
}

#allTables .eachChild{
    border-bottom: 1px solid lightgray;
}

.chartHolder{
    display: flex;
    justify-content: center;
    overflow: auto;
}

#allTables table{
    border-collapse: collapse;
    width: 100%;
}

#allTables th, #allTables td{
    border: 1px solid lightgray;
}

.estimateExplain{
    font-size: 1.2em;
    vertical-align: text-bottom !important;
    margin-left: 2px;
}

.switchEstimate{
    border: 1px solid #673ab7 !important;
    color: #673ab7 !important;
    font-weight: 700;
}

.header_title{
    color: dimgray;
}

.button .f7-icons, .paid{
    vertical-align: bottom !important;
}

.settingsInput, .myCard input[type="text"], .item-input-wrap input[type="text"]:not(.specSearch){
    border-bottom: 0.5px solid #673ab7 !important;
    padding: 2px 5px !important;
    margin-top: 2px !important;
}

.eachCostParent input, .extraCostRow input, .profitvalue{
    border-bottom: 0.5px solid darkgrey !important;
}

.compName{
    font-size: 1.2em;
    color:#007aff;
    display: inline-flex;
    width: 100%;
    font-weight: 600;
    justify-content: center;
}

.cardName{
    font-size: 1.05em;
    font-weight: 700;
    padding-bottom: 3px;
}

.labelName{
    font-weight: 400;
    /* letter-spacing: 0.4px; */
    color: gray;
}

.valueName{
    font-weight: 400;
    font-size: 1em;
    vertical-align: baseline;
}

.valueName .icon{
    font-size: 1em;
    vertical-align: baseline;
    color:black;
}

.in-link{
    /*color: black*/
}

.envelope{
    margin-right: 3px;
}

.phone{
    margin-right: 1.5px;
}

.myGreen{
    color:forestgreen;
}

.button-green{
    color:forestgreen;
    border:1px solid;
}

.list.autocomplete-list{
    margin-top: 2px !important;
}

.searchbar-input-wrap input, .darkSearch{
    padding: 10px 0 !important;
    font-size: 1.1em !important;
    text-align: center !important;
    background: lightgray !important;
    color: black !important;
    font-weight: 600 !important;
    border: none !important;
    border-radius: 2px !important;
}

.customList .sort{
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0px 0px 0px 1px;
    margin: 5px 2px;
    cursor: pointer;
    color: black;
    font-weight: 400;
}

.sort .icon{
    font-size: 1.2em;
    margin-left: 2px;
}

.buttonSpan{
    font-weight: 400;
    font-size: 1.35em;
    text-transform: none;
}

.eachRow td{
    text-align: center;
}


.costvalue, .profitpercent, .profitvalue{
    padding: 3px !important;
    text-align: center;
    width:60% !important;
    margin: auto !important;
}

.costvalue{
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.total_sell, .totalproductprice{
    background-color: #f5f5f5 !important;
    font-weight: 600;
}

.extraCostRow .extraName, .extraCostRow .eachCost{
    padding: 3px !important;
    width:100%;
}

.extraCostRow .eachCost, .extraName{
    text-align: center;
}

.myOrange .item-inner:before{
    color: white !important;
}

.myOrange .text-color-blue .item-inner:before{
    color: blue !important;
}

.ruleUnder{
    color: black;
    border-bottom: 1px solid darkgray;
    font-weight: 400;
    padding: 3px !important;
}

.dashText{
    font-weight: 500 !important;
    font-size: 1.5em !important;
}

.sortList, .grouped{
    list-style: none;
    padding:0 !important;
}

.myToolbar{
    align-items: center;
}

.myToolbar .display-inline-flex{
    align-items: center;
}

.specWrap{
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px darkgrey;
    margin: 13px auto;
}

.specWrap .item-input-wrap{
    min-height: 2.5em;
}

.specClear{
    right:25px;
}

.specSearch{
    width: 100%;
    text-align: center;
    font-size: 1.2em !important;
    font-weight: 500;
    left: 0;
    bottom: 7px;
    position: absolute;
}

.dash .card-content{
    font-size: 1.3em;
    text-align: center;
    font-weight: 600;
    color:#2196f3;
}

.dash .card{
    margin: 2px 1px;
}

.filterbydate{
    box-shadow: 0px 0px 1px 1px darkgrey;
    border-radius: 15px;
}

.pagination li{
    display: inline-block;
    padding: 2px 13px;
    color: #2196f3;
    border: 1px solid #2196f3;
}

.pagination li.active{
    font-weight: 900;
    background-color: #2196f3;
    color: white;
}

.pagination li:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .pagination li:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

.pagination .page{
    position: relative;
    color: inherit;
    font-size: 1.3em;
    background: inherit;
}

/*.eachProduct{
    border: 1px solid lightgray;
    border-collapse: collapse;
    margin: 7px auto;
}

.eachProduct td{
    border: 1px solid lightgray;
    padding: 3px;
}

.eachProduct th{
    padding: 3px;
}

.eachProduct tbody tr:first-of-type td{
    font-weight: 500;
}*/

/*.signingInput{
    border: 1px solid #673ab7;
    border-radius: 5px;
}*/

.signParent{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.signParent ul:before, .signParent ul:after{
    display: none !important;
}

.signParent form{
    border-radius: 5px;
    width: 95%;
    box-shadow: 0px 0px 1px 2px lightgrey;
}



